{% extends 'base.html' %}

{% block content %} 

<!-- Google Font-->
<link href="https://fonts.googleapis.com/css?family=Pacifico|Satisfy&display=swap" rel="stylesheet">

  
  <div class="parallax-img2">
  <br>
 <h2 class="home-text" style="text-align:center; background: teal; font-size: 1.5rem; margin:auto;width: 80%;opacity:0.8;"> 
   Whether you are looking for a partner in crime or a lover to simply to indulge your dark side with, 
    Amor will help you find that special someone. Register now and find your soulmate today.</h2>
     
  </div>
  </div>
 
{% endblock content %}
 
