{% extends 'base.html' %}

{% block content %} 

<div class="container">
    </br>

<h1 style="color:white;">Welcome to Your Profile Page!</h1>
</br>
<body style="background: url('https://images.pexels.com/photos/1824684/pexels-photo-1824684.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260')";>
    <div class="container">
<h2 style="color:white;">
First name: {{fn}} <br/>
Last name: {{ln}} <br/>
Age: {{a}} <br/>
Gender: {{g}} <br/>
Bio: {{bio}}
  </h2> </ul>
    </div>
    
    </br>
    
    

     <div class="container">
 <a href= "/updateNow" class="btn btn-primary">Update Your Profile</a>
  </div>
  </div>
  
  
    </br></br></br></br></br></br></br></br>
  
  
  

  
 
   
   
 {% endblock content %}

  </div>
